// =========================
// █▀▀ █▀█ █░░ █▀█ █▀█ █▀
// █▄▄ █▄█ █▄▄ █▄█ █▀▄ ▄█
// =========================
$base: #1e1e2e;
$surface0: #313244;
$red: #f38ba8;
$green: #a6e3a1;
$blue: #89b4fa;
$yellow: #f9e2af;
$orange: #fab387;
$surface2: #585b70;
$surface1: #45475a;

* {
  all: unset;
  font-family: "MonoLisa Nerd Font Mono";
}

// =========================================
// █▀█ █░█ █▀▀ █▀█ █░░ ▄▀█ █▄█   █▄▄ ▄▀█ █▀█
// █▄█ ▀▄▀ ██▄ █▀▄ █▄▄ █▀█ ░█░   █▄█ █▀█ █▀▄
// =========================================
.progressBar {
  $borderRadius: 50px;
  $barHeight: 11px;
  $barColor: $yellow;

  background: $base;
  padding: 2px 8px;
  border-radius: $borderRadius;

  label {
    color: $barColor;
    margin-right: 10px;
    font-size: 20px;
  }

  progressbar trough {
    min-width: 200px;
    min-height: $barHeight;
    background: $surface1;
    border-radius: $borderRadius;
  }

  progressbar trough progress {
    background: $barColor;
    border-radius: $borderRadius;
    min-height: $barHeight;
  }
}
