* {
  border: none;
  border-radius: 0;
  font-family: Hack Nerd Font, monospace;
  font-weight: bold;
  font-size: 12px;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  color: #313244;
  margin-right: 5px;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
  border-radius: 4px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 4px;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  border-radius: 4px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight,
#cpu, 
#memory{
  background: #1e1e2e;
  padding: 0px 6px;
  margin: 5px 0px;
  border: 1px solid #181825;
}

#window {
  padding: 8px;
}

#tray {
  border-radius: 4px;
  margin-right: 8px;
}

#works
#memorypaces {
  background: #1e1e2e;
  border-radius: 4px;
  margin-left: 8px;
  padding-right: 0px;
  padding-left: 5px;
}

#custom-caffeine {
  color: #89dceb;
  border-radius: 4px 0px 0px 4px;
  border-right: 0px;
  margin-left: 8px;
}

#custom-language {
  color: #f38ba8;
  border-left: 0px;
  border-right: 0px;
}

#custom-updates {
  color: #f5c2e7;
  border-left: 0px;
  border-right: 0px;
  padding-left: 7px;
  border-radius: 4px 0px 0px 4px;
}

#window {
  border-radius: 4px;
  margin-left: 60px;
  margin-right: 60px;
}

#clock {
  color: #fab387;
  margin-right: 5px;
  padding-right: 7px;
  border-left: 0;
  border-right: 0;
  border-radius: 0 4px 4px 0;
}

#cpu {
  color: #a6e3a1;
  border-radius: 4px 0 0 4px;
  margin-left: 5px;
  border-right: 0;
}

#memory {
  color: #fab387;
  border-right: 0;
  border-left: 0;
}

#workspaces {
  border-left: 0;
  border-radius: 4px;
}

#network {
  /* color: #f9e2af; */
  color: #89b4fa;
  border-radius: 0;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio {
  color: #89b4fa;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: #cba6f7;
  margin-right: 5px;
  border-radius: 0 4px 4px 0;
}

#battery {
  color: #a6e3a1;
  border-radius: 0px 4px 4px 0px;
  margin-right: 10px;
  border-left: 0px;
}

#battery.warning {
  color: #eb7734;
}

#battery.critical {
  color: #eb4034;
}

#custom-weather {
  border-radius: 0px 4px 4px 0px;
  border-left: 0px;
  margin-left: 0px;
}

#backlight {
  border-right: 0;
  border-left: 0;
}
