// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

* {
  border: 0;
  font-weight: bold;
  font-family: Hack Nerd Font, monospace;
  font-size: 12px;
}

.cpu-monitor {
  color: #a6e3a1;
}

window.barra {
    background: transparent;
    color: $fg-color;
    font-weight: bold;

    .focused {
      color: #a6adc8;
    }

    .seccion {
      background: #1e1e2e;
      border: 1px solid #181825;
      border-radius: 0.3rem;
      padding: 0 6px
    }

    >centerbox {
      margin: 5px;
      padding: 0px;
    }

    .wifi {
      color: #89b4fa;
    }

    label {
      color: inherit;
    }

    .workspaces {

      button {
        color: #313244;
        background: transparent;
        border: 0;
        margin: 0 0.2rem;
        padding-right: 8px;
      }

      button:hover {
        background: #11111b;
      }

      label {
        font-size: 1.1rem; 
      }
    }

    .ram {
      color: #fab387;
      padding: 0 10px;
    }
}

